{{!-- forgot password send email structure --}}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
    <style>
      *{text-decoration: none;} .container{ margin: 0 auto; max-width: 500px;
      width: 100%; } .btn-link{ display: inline-block; padding: 10px 20px;
      background-color: #007bff; color: #fff !important; text-decoration: none;
      border-radius: 5px; } img{ width: 30px; border-radius: 50%;}
      .verifyCode {
        padding: 10px;
        background-color: #007bff;
        color: #fff;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <img src="../../client/public/favicon.jpg" alt="" />

      <h1>{{subject}}</h1>
      <hr />
      <p>Hello {{name}},</p>
      <p>We received a request to reset your StudyHive password.<br />If you did
        not initiate this, please reset your password immediately.</p>

      <span class="verifyCode">{{code}}</span>

      <h3 style="margin-top: 50px;">
        Didn't request this change?
      </h3>
      <p style="margin-bottom: 50px;">
        If you didn't request a password reset, you can ignore this email.
        <br />
        Your password will not be changed.
      </p>

      <hr />
      <p>Regards,</p>
      <p><b>StudyHive</b> Team</p>

    </div>
  </body>
</html>